{% extends "equ/s_base.html" %}
{% block content %}    

<style>
    .graph-image {
      width: 90%; /* Adjust the percentage or pixel value as needed */
      height: auto;
    }
    .overview span{
      border: 1px solid #6897f5;
    background-color: #6897f5;
    }

    .overview li{
      /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
      background: #ededed;
    }

    .sgp{
      margin-top: -50px;
      display: flex;
    align-items: center;
    box-shadow: none;
    }

    .st{
      width: 100%;
    text-align: left;
    font-size: 2rem;
    padding-left: 10px;
    }
  </style>

<div class="graph sgp">
  <div class="st">Dashboard</div>
  <img src="data:image/png;base64,{{ graph_url }}" alt="Daily Footfall Graph" class="graph-image">
</div>

{% endblock content %}   
