<!-- This File contains all the common code that I want to be inherited by all my webpages--> 

{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/u_projects.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/u_inventory.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/a_overview.css' %}"> -->
  
</head>
<body>
  
  {% if user.is_authenticated %}
   <!-- Add the nav bar -->
   <div class="main-navbar">
    <div class="cloudlogo">
      <img src="{% static 'images/cloudavt.png' %}" alt="" style="width: 90px; height: auto;">
      <span style="margin-left: 100px;">Hello, {{ profile.first_name }}</span>
    </div>
    <a class="profile-link" href="{% url 'u_profile_page' %}">
      <button class="profile-button">{{ profile.first_name }}</button>
    </a>
  </div>
  
  <div class="container rcntc">
        <div class="sidebar">
          <ul>
            <div class="mslogo"><img src="{% static 'images/MSClogo2.png' %}" alt="">
              <a> Lab ID: {{ user.username }}</a>
            </div> 
            <a href="{% url 'u_projects_confirmed' %}" class="bookings"><div class="link"><span></span><li><img src="{% static 'images/schedule logo.png' %}" alt="">Schedule</li></div></a> 
            
            <!-- <a href="{% url 'u_projects_confirmed' %}"><li>Bookings</li></a>             -->
            <!--<a href="{% url 'u_help' %}"><li>Help Blogs</li></a>-->
            <a href="{% url 'u_inventory_active' %}" class="inventory"><div class="link"><span></span><li><img src="{% static 'images/inventory icon.png' %}" alt="">Inventory</li></div></a>
            <a href="{% url 'logout' %}" class="logout"><div class="link"><span></span><li>Log Out</li></div></a>
            {% else %}
            <a href="{% url 'login' %}" class="login"><div class="link"><span></span><li>Log In</li></div></a>
            {% endif %}
          </ul>
        </div>
      
        <div class="content u_inventory">
<<<<<<< HEAD
=======
          <!-- Add the nav bar -->
   <div class="main-navbar">
    <div class="cloudlogo dpn">
      <div class="cloud"><img src="{% static 'images/cloudavt.png' %}" alt=""></div>
      <span>Hello, {{ profile.first_name }}, Let's Create!</span>
    </div>
    <a class="profile-link" href="{% url 'u_profile_page' %}">
      <button class="profile-button">{{ profile.first_name }}</button>
    </a>
  </div>
>>>>>>> omi
          {% block content %}
          {% endblock %}
        </div>
  </div>

  </body>
</html>
