{% extends "equ/u_base.html" %}
{% block content %}    
{%load static%}

<<<<<<< HEAD
=======
<!-- <style>

  .bookings span{
    border: 1px solid white;
    background-color: white;
  }

  .bookings li{
    background-image: linear-gradient(to right, #60B8CA, #5890F9);
  }

  .prjt{
    background-color: #338eb9;
    color: white;
  }

</style> -->

<style>
  .mp1 h2 {
    margin-bottom: 0px;
}
</style>

>>>>>>> omi
<div class="my_projects">
<div class="mp1">

<<<<<<< HEAD
  <a href="{% url 'c_list' %}" class="btn-uproject">View Calendar</a>
  <small><a href="{% url 'u_profile_page' %}" class="btn-uproject"> Profile</a></small>
<br>
<br>
<br>
<div class="navbar">
  <a href="{% url 'u_projects_confirmed' %}" class="btn-uproject">Projects</a>
  <a href="{% url 'u_projects_pending' %}" class="btn-uproject">Pending Requests</a>
  <a href="{% url 'u_projects_notifications' %}" class="btn-uproject">Notifications</a>
=======
  <div class="rq_items cpr">
    <a href="{% url 'u_create_project' %}" class="btn-uproject rqa">
      <img src="{% static 'images/createprojectrequest icon.png' %}" alt="">
      Create Project Request</a>
  <a href="{% url 'c_list' %}" class="btn-uproject rqa">
    <img src="{% static 'images/viewcalendaricon.png' %}" alt="">
    View Calendar</a>
  </div>

  <h2 class="my_proj">My Projects</h2>

<div class="navbar">
  <div class="navl">
    <a href="{% url 'u_projects_confirmed' %}" class="iapc prjt btn-uproject">Completed</a>
  <a href="{% url 'u_projects_pending' %}" class="iapc pending_req btn-uproject">Requested</a>
  </div>
    <a href="{% url 'u_projects_notifications' %}" class="bell"></a>
    <!-- <img src="{% static 'images/unactive bell.png' %}" alt=""> -->
  </a>
>>>>>>> omi
  </div>

    {% block projectcontent %}
    {% endblock %}

</div>
</div>
{% endblock content %}   
