{% extends "equ/u_projects.html" %}
{% block projectcontent %}   

<style>

  .bookings span{
    border: 1px solid #6897f5;
    background-color: #6897f5;
  }

  .bookings li{
    /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
    background: #ededed;
  }
<<<<<<< HEAD
=======

  .prjt{
    background-color: #6897f5;
    color: white;
    border: 1px solid #6897f5;
  }

>>>>>>> omi
</style>



<ul class="project_list">
  {% for project in user_confirmed_projects %}
    <li><a href="{% url 'u_confirmed_project_detail' project.pk %}">{{ project.name }}</a></li>
  {% empty %}
    <li>No projects found.</li>
  {% endfor %}
</ul>

<div class="mp2">
  <a href="{% url 'u_create_project' %}" class="btn-uproject">Create Project Request</a>
</div>
{% endblock projectcontent %}   
