{% extends "equ/u_projects.html" %}
{% block projectcontent %}    

<<<<<<< HEAD
=======
.bookings span{
    border: 1px solid #6897f5;
    background-color: #6897f5;
  }

  .bookings li{
    /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
    background: #ededed;
  }

  .pending_req{
    background-color: #6897f5;
    color: white;
    border: 1px solid #6897f5;
  }

</style>
>>>>>>> omi

<!-- <h2 class="my_proj">My Project Requests</h2> -->

<ul class="project_list">
  {% for project in user_projects %}
    <li><a href="{% url 'u_project_detail' project.pk %}">{{ project.name }}</a></li>
  {% empty %}
    <li>No projects found.</li>
  {% endfor %}
</ul>



{% endblock projectcontent %}   
