@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


    :root{
      --primary:#314677;
      --secondary:rgb(97, 97, 131);
    }


     *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Lato', sans-serif;;
     }

     h1, h2, h3, h4, h5{
      color: #576689;
     }

     input, select{
      outline: none;
     }

     ul, li{
      list-style: none;
     }


     .mp1 li{
      margin: 10px 0;
     }

     .content table{
      width: 100%;
    }
    
    .content table, .content tr, .content th, .content td{
      border: 1px solid black;
      border-collapse: collapse;
    }
    
    .content th, .content td{
      padding: 10px;
      text-align: center;
    }

     .container {
      display: flex;
      justify-content: center;
      /* flex-direction: column; */
      min-height: 100vh;
      max-height: max-content;
      /* border: 1px solid black; */
      background-color: #ececec;
    }



    
    .main-navbar{
      display: flex;
<<<<<<< HEAD
      justify-content: space-between;
      align-items: center;
      background-color: var(--primary);
      padding: 10px 20px;
  
=======
    justify-content: space-between;
    align-items: flex-start;
    /* background-image: linear-gradient(to right, #76b8cc, #5e74bc); */
    padding: 10px 20px;
    height: 150px;
    border-bottom: 1px solid #6897f5;
    background: #ededed;
>>>>>>> omi
    }
    .main-navbar h2{
      text-decoration: none;
      
    }
    .cloudlogo {
   
      align-items: center;
<<<<<<< HEAD
      color: white; /* Set your desired text color */
      display: flex;
    }
=======
      color: var(--primary);
      display: flex;
    }

    .cloud{
      width: 200px;
      height: 100px;
      /* object-fit: cover; */
      /* aspect-ratio: 3/2; */
      /* text-align: center; */
      display: flex;
    }

    .cloud img{
      width: 200px;
    aspect-ratio: 3/3;
    object-fit: cover;
    /* filter: drop-shadow(0px 0px 20px lightgray); */
    }
>>>>>>> omi
    
    /* Style for the profile link */
    .profile-link {
      color: white; /* Set your desired text color */
      text-decoration: none;
    }
    
    /* Style for the profile button */
    .profile-button {
<<<<<<< HEAD
      background-color: #ff6600; /* Set your desired button color */
      color: white; /* Set your desired text color */
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
=======
      /* background-color: var(--primary);  */
    color: #6897f5;
    border: 1px solid #6897f5;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    /* border: none; */
    font-weight: bold;
    transition: 0.1s ease-in;
    }

    .profile-button:hover{
      background-color: #6897f554;
      color: white;
>>>>>>> omi
    }



     .sidebar{
      width: 13%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px 0px;
    border-right: 1px solid #6897f5;
     }

     .sidebar ul{
      list-style: none;
      /* width: 100%; */
     }

     .mslogo{
      margin-bottom: 50px;
      text-align: center;
     }

     .mslogo img{
      width: 70%;
     }

     .sidebar a{
      color: var(--primary);
      font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    /* width: 100%; */
    /* border-radius: 50px; */
    align-items: center;
    justify-content: center;
    /* padding: 10px 15px; */
    margin: 10px 0;
     }

     .link{
      width: 100%;
      display: flex;
     }

     .sidebar span{
      /* border: 1px solid white; */
    width: 10px;
    background: none;
    transition: 0.3s ease-in;
     }

     .sidebar li{
      padding: 15px 0;
      padding-right: 20px;
      /* border: 1px solid black; */
      /* border-radius: 50px; */
      text-align: center;
      width: 100%;
      /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
      background-image: none;
      transition: 0.3s ease-in;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
     }

     .link img{
      width: 20px;
     }

     /* .sidebar a:hover{
      cursor: pointer;
      background-color: var(--secondary);
     } */

     .sidebar li:hover{
      background-image: linear-gradient(to right, #60b8ca56, #5890f952);
     }

     .content {
      flex-grow: 1;
      /* border: 1px solid black; */
      border: none;
<<<<<<< HEAD
      width: 100%;
      max-width: 900px; 
      margin: 20px auto;
      border-radius: 30px;
      padding: 20px;
      box-shadow: 1px 1px 25px 1px #b4b4b4;
=======
      /* width: 100%;
      max-width: 900px;  */
      
      border-radius: 30px;
      /* padding: 20px; */
      box-shadow:0px 0px 25px 0px lightgray;
>>>>>>> omi
      
  /* color: white; */
  background-color:white;
      display: flex;
<<<<<<< HEAD
      justify-content: center;
=======
      flex-direction: column;
      /* justify-content: center; */
>>>>>>> omi
      /* align-items: center; */
      min-height: max-content;
    }
    .rcnt{
      /* background-image: linear-gradient(to right,#6ab8cb, #5095f4); */
      max-width:50%;
      margin: 20px 0;
      background: transparent;
    }
    

    .rcntc{
      background-color: white;
    }

    .lbg{
      background-color: #588FF9;
    }

    .lbg .content{
      box-shadow: none;
    }

    .logout{
      position: absolute;
      width: 98%;
    bottom: 0px;
    }    

    .clndr{
      width: 100%;
      /* border: 1px solid black; */
      /* text-align: right; */
      display: flex;
      justify-content: end;
    }


/*USER UI CSS STARTS HERE */
     /* u_project css */
     .c_calender{
      position: fixed;
      right: 10%;
      /* top: 0; */
      /* border: 1px solid black; */
      padding: 30px 0;
  
  }
  /*Projects Button css*/
  .btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgb(65, 65, 100);
    color: #fff;
    text-decoration:none;
    border-radius: 5px;
  }

  
  
  .btn:hover {
    background-color: #444;
  }

  .btnsb:hover{
    background-color: #e3e3fc;
  }

  .my_projects{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
  }
  
  .my_proj{
      padding: 30px 0;
      /* padding-bottom: 50px; */
      /* border-bottom: 1px solid #d9d9d9; */
      color: #576689;
      font-size: 2rem;
  }

  .activities{
    width: 100%;
    height: 100%;
  }

  .activities h1{
    margin: 20px 0;
  }

  .project_list{
    /* padding: 20px 0; */
    /* height: 75%; */
  }

  .mp1 h1{
    margin: 30px 0;
  }

  .project_list li{
    margin: 30px 0;
  }

  .project_list li a{
    text-decoration: none;
    color: black;
    /* background: #0000ff82; */
    padding: 10px;
    border: none;
    font-size: 1rem;
    /* border-radius: 50px; */
  }

  .project_list li a:hover{
    text-decoration: underline;
  }


  .u_create_project{
    color: white;
    text-decoration: none;
    background: #6897f5;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: var(--primary);
  }

  .u_create_project:hover{
    cursor: pointer;
    background-color: var(--secondary)  ;
  }
  /*Help blog css*/

  .all_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .question {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .answer {
    margin-bottom: 0;
  }
  
   /* Style for the error messages */
   .error-message {
    color: crimson;
    font-size: 14px;
    margin-bottom: 5px;
  }



  
  /*Create Project CSS*/
  .project-form {
    /* background-color: #f2f2f2; */
    padding: 20px;
    border-radius: 10px;
    color:#1213528e
  }
  
  .project-form input[type="text"],
  .project-form input[type="date"],
  .project-form textarea {
    width: 100%;
    padding: 10px;
    /* border: none; */
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #979696;
    margin: 10px 0;
    outline: none;
  }
  .btn-uproject {
    background-color: #6897f5;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
  }
  /* .btn-uproject-small {
    background-color: #800d39;
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  } */
  .btn-uproject:hover {
    background-color: #e2f4ff;
    color: #6897f5;
  }
  /* .btn-uproject-small:hover {
    background-color: #444;
  } */
  .project-form select {
    width: 100%;
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .booking-form {
    margin-bottom: 20px;
  }
  
  .booking-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .booking-form input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  #add-booking-btn {
    background-color: #6897f5;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #add-booking-btn:hover {
    background-color: #444;
  }

  #create-slot-btn {
    background-color: #6897f5;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #create-slot-btn:hover {
    background-color: #444;
  }
  
  
  .submit-btn {
    background-color: #6897f5;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #444;
  }
/*Confirmed Project Detail*/

.project-details h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.project-info {
  margin-bottom: 20px;
}
.project-info p {
  margin-bottom: 10px;
}
.equipment-list {
  margin-bottom: 20px;
}
.booking {
  margin-bottom: 10px;
  margin-right: 40px;
}
.equipment-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  
}
.booking-details {
  padding-bottom: 10px;
  margin-right: 40px;
  
}
.material-list {
  margin-top: 5px;
  list-style: disc;
}
.material-list li {
  margin-bottom: 5px;
}


/*USER UI CSS ENDS HERE */


  /*register and login css*/
  .content-section {
    /* margin-left: 220px; */
    width: 75%;
    margin:auto;
    /* margin-top: -30px; */
}

.content-section img{
  /* filter: drop-shadow(0px 0px 20px lightgray); */
  /* width: 300px;
  position: absolute;
  left: 13%;
  top: -55px; */
  width: 120px;
}


.lgin{
  font-size: 1.8rem;
  /* margin: 15px 0; */
  font-weight: normal;
}

.login_logo{
  text-align: center;
  color: white;
}

.login_logo p{
  margin: 5px 0;
}

  .wlcm{
    font-size: 3rem;
  }

  .lcya{
    font-size: 1.5rem;
    /* padding: 20px 0; */
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
  }

.form-signin {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    color: white;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    /* font-weight: bold; */
    margin-bottom: 10px;
}

.form-group input, .form-group select {
  background: transparent;
  width: 100%;
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
}

.form-group small {
    display: block;
    margin-top: 5px;
    color: #dc3545;
}

.btn {
    display: block;
    width: max-content;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnsb{
  background-color: white;
  color: #6897f5;
  font-weight: bold;
}

.border-top {
    /* border-top: 1px solid #ddd; */
    padding-top: 10px;
    /* margin-top: 20px; */
}

.text-muted {
    color: white;
    font-size: 0.8rem;
        /* border: 1px solid black; */
        width: 360px;
        margin: auto;
}

.pt-3 .text-muted{
  background: black;
  padding: 15px 20px;
  /* margin: auto; */
  font-size: 0.8rem;
  width: max-content;
  margin-left: 75px;
  border-radius: 40px;
}

.ml-2{
  color: rgb(0, 255, 0);
}

.ml-3{
  color: lightblue;
}


/*Admin UI css starts here */
  .members {
    width: 100%;
    height: 100%;
    /* background: white; */
}

.members table{
  background-color: white;
}


.members h1{
  margin: 20px 0;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  color:black;
}

.user-table a{
  text-decoration: none;
  color: #6897f5;
}

.user-table th,
.user-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tbody tr:hover {
  background-color: #ddd;
}

.cent-d {
  width: 80%;
  /* height: 100%; */
  /* border: 1px solid black; */
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  padding: 20px;
  /* box-shadow: 0px 0px 25px 0px lightgray; */
  border: 1px solid lightgray;
}

.cent-d h1{
  color: #59668b;
  font-size: 1.5rem;
}

.cent-d p a{
  
  text-decoration: none;
  color: white;
  background: #0000ff82;
  padding: 10px;
  border: none;
  border-radius: 50px;
  display: flex;
  width: max-content;
  margin: 10px 0;
}

/* .pr_content_section{
  width: 100%;
  height: 100%;
} */

.project-details h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.project-info {
  margin-bottom: 20px;
}

.project-info p {
  margin-bottom: 10px;
}

.equipment-list {
  margin-bottom: 20px;
}

.booking {
  margin: 15px 0;
}

.equipment-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.booking-details {
  margin-left: 20px;
}

.material-list {
  margin-top: 10px;
  margin-left: 20px;
  list-style: disc;
}

.material-list li {
  margin-bottom: 5px;
}

.action-form {
  /* margin-top: 20px; */
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
  /* justify-content: space-between; */
  margin: auto;
  width: 900px;
  margin-top: -70px;
  margin-bottom: 50px;
  padding-right: 10px;
  justify-content: end;
}

.project-details{
      width: 900px;
    background: white;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    margin-top: -40px;
    margin-bottom: 0;
    /* box-shadow: 0px 0px 25px 0px lightgray; */
    border: 1px solid lightgray;
}




.a-actionbutton {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;

  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept{
  background-color: #0080000f;
  border: 1px solid green;
  color: green;
}

.accept:hover{
  background-color: rgba(1, 255, 1, 0.199);
}

.reject{
  background-color: #ff00000f;
  color: red;
  border: 1px solid red;
}

.reject:hover{
  background-color: rgba(255, 0, 0, 0.199);
}

/* Calender  */
.cal, .cal th, .cal tr, .cal td{
  border: 1px solid #d6e2e3;
  border-collapse: collapse;
  padding: 10px;
  font-weight: normal;
  font-size: small;
}

.cal td{
  background-color: #e2f1ee;
}

td.Booked {
  background-color: #edc2e6; 
}

.cal .t_d{
  padding: 10px 35px;
}

.cal th{
  background-color: #dce7f5;
}

.calendar{
  width: 90%;
  /* margin: 30px auto; */
  /* border: 1px solid gray; */
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  /* box-shadow: 0px 0px 25px 0px lightgray; */
  border: 1px solid lightgray;
} 

.calendar h3{
  padding: 0 10px 20px 10px;
  margin-bottom: 15px;
  font-weight: normal;
}

.table_con{
  width: 100%;
  /* overflow: hidden; */
  overflow-x: scroll;
  height: max-content;
  border: 1px solid gray;
  /* border-radius: 30px; */
}

/* Lists */
.al{
  /* width: 85%; */
  /* background-color: #ececec; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
    max-height: max-content;
}

.all_lists{
  /* border: 1px solid gray; */
  border-radius: 20px;
  width: 90%;
  /* margin: 30px auto; */
  padding: 30px;
  min-height: 90vh;
  /* background-color: white; */
  /* box-shadow: 0px 0px 25px 0px lightgray; */
}

.all_lists h1{
  margin-bottom: 20px;
}

.all_lists h2{
  margin-bottom: 10px;
}

.all_lists li{
  margin: 30px 0;
  display: flex;
  flex-direction: column;
      /* box-shadow: 0px 0px 25px 0px lightgray; */
    border-radius: 20px;
    padding: 20px;
    background: #eef4ff;
    width: max-content;
}

.months{
  display: flex;
  margin: 10px 0;
}

.all_lists a{
  text-decoration: none;
  color: white;
  background: #0000ff82;
  padding: 10px;
  border: none;
  /* border-radius: 50px; */
  margin-right: 10px;
  cursor: pointer;
}

.all_lists a:hover{
  background-color:#0000ffbb ;
}


/* LABS */

/* .my_projects a, .my_projects button{
  padding: 10px 15px;
    text-decoration: none;
    border: none;
    background:#6897f5;
    color: white;
    border-radius: 40px;
    width: max-content;
    font-size: 1rem;
    font-weight: normal;
} */


.mp1 h2{
  margin-bottom: 20px;
}

.my_projects{
  /* height: max-content; */
  margin-top: 30px;
}

.mp1 p{
  margin: 10px 0;
}

/* .my_projects a:hover{
  background-color: var(--secondary);
  color: white;
} */

.labs{
  width: 100%;
  height: 100%;
  /* disp; */
}

.cln_btn a{
  width: max-content;
    
}

.cln_btn {
  width: 100%;
  display: flex;
    justify-content: space-between;
}

/* LOGS */
.lgs{
  margin: 20px 0;
}

.logs{
  width: 100%;
  margin: 10px 0;
}

.logs, .logs tr, .logs td, .logs th{
  border: 1px solid black;
  border-collapse: collapse;
}

.logs th, .logs td{
  padding: 5px;
}

.excellent { background-color: rgb(42, 143, 42); }
.good { background-color: #28E045; }
.poor { background-color: rgb(161, 111, 19); }
.bad {     background-color: #E08B28; }

.equip_container {
  /* text-decoration: underline; */
  text-decoration-color: #4d4d5e;
  width: max-content;
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  /* background-color: #f7f7f7; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-underline-offset: 3px;
}


.equip{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.equip_container .eh {
  font-size: 1rem;
  display: flex;
}

.equip_container h2 .ec{
  width: 10px;
    display: block;
    height: 10px;
    border-radius: 10px;
    margin-left: 5px;
}

.bad a{
  font-size: 0.7rem;
}




.mat-con{
  text-decoration: none;
  align-items: self-start;
  justify-content: center;
  width: 100%;
}



.close img{
  width: 7px;
}

.mat-con a{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat_img{
  margin: 10px;
  border: 1px solid gray;
  padding: 15px 20px;
  border-radius: 15px;
}

.cat_name{
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: normal;
  color: #338EB9;
}

/* .equip_container a:hover {
  background-color: darkred;
} */



.equip_container ul {
  list-style: none;
  padding-left: 0;
}

.equip_container ul li {
  margin-bottom: 5px;
}

/* User Inventory */
.iapc{
  background: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  /* margin: 0 5px; */
  margin-right:5px;
}

.bell{
  /* border: 1px solid black; */
  width: 25px;
  height: 30px;
  text-align: center;
  background-image: url("../images/unactive\ bell.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bell img{
  width: 25px;
}

/* .pending{
  background-color: #6897f5;
  color: white;
} */

/* Superadmin form  */

.form-signin p {
  margin: 10px 0;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reg_super{
  width: 450px;
}

.reg_super input, .reg_super textarea {
  background: transparent;
  width: 65%;
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
}


