.u_c{
    border-radius: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
    /* margin: 10px 0; */
}

.u_inventory{
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
}

.navbar{
    display: flex;
    /* padding: 5px; */
    /* width: max-content; */
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    /* background: #ffffff8a; */
    /* box-shadow: 0px 0px 25px 0px lightgray; */
    /* border: 1px solid lightgray; */
}

.navl{
    display: flex;
}

.rri{
    color: #59668b;
    /* font-size: 1.2rem; */
    font-weight: bold;
}

.project_list{
        margin: 7px 0;
        /* border: 1px solid black; */
        width: 100%;
        /* padding: 10px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(80px, auto);
        grid-gap: 15px;
        background: transparent;
        /* box-shadow: 0px 0px 25px 0px lightgray */
}

.project_list li {
    /* border: 1px solid black; */
    margin: 0 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 0px 0px 25px 0px lightgray; */
    background: #eef4ff;
    color: rgb(34, 15, 87);
    /* box-shadow: 0px 0px 25px 0px lightgray; */
    /* border: 1px solid lightgray; */
    height: 100%;
}

.rq_items{
<<<<<<< HEAD
        /* border: 1px solid black; */
        width: 400px;
        height: 120px;
=======
    border: 1px solid #6897f5;
        width: max-content;
        /* height: 120px; */
>>>>>>> omi
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        /* padding: 50px 0; */
        background-color: #ffffffc2;
        border-radius: 10px;
<<<<<<< HEAD
         /* backdrop-filter: blur(10px); */
=======
        /* position: relative; */
        /* backdrop-filter: blur(15px); */
        /* top: -175px; */
        margin-top: -175px;
        /* backdrop-filter: saturate(180%) blur(10px); */
        background: rgb(255 255 255 / 40%);
        backdrop-filter: saturate(180%) blur(10px);
}

.cpr {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -95px;
>>>>>>> omi
}


.rqa{
    color: #59668b;
<<<<<<< HEAD
    font-weight: bold;
    background-image: linear-gradient(#b9e5fe, #c9eefa);
}
=======
    /* font-weight: bold; */
    padding: 15px;
    /* background-image: linear-gradient(#b9e5fe, #c9eefa); */
    margin: 0px 10px;
    /* margin-top: 20px; */
    /* margin-bottom: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0px 5px 25px 0px lightgray;
}

.rqa img{
    width: 40px;
    margin:0 10px;
}

.rq_search{
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: white;
    width: 40%;
    border-radius: 12px;
    /* margin-bottom: 12px; */
    /* margin: 15px 0; */
    /* margin-top: -100px; */
    margin: 10px auto;
    position: relative;
    top: -140px;
}

.rq_search input{
    border: none;
    width: 91%;
    color: #a2a2a2;
}

>>>>>>> omi
